@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "urbanist", sans-serif;
  --breakpoint-3xl:1920px;
  --color-primary:#80ff69;
}

@layer base{
  html{
    font-family: var(--font-display);
    scroll-behavior: smooth;
  }

  body{
    --webkit-font-smoothing: antialiassed;
    --moz-osx-font-smoothing: grayscale;
    background-color: #000000;
    color: #ffffffff;
    overflow-x: hidden;
 
  }

  /*Custom scrollbar*/
  ::-webkit-scrollbar{
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #0a0a0a;

  }
  ::-webkit-scrollbar-thumb {
   background: linear-gradient(10ded, #A8FF80, #6FE047);
   border-radius: 5px;

  }
  ::-webkit-scrollbar-thum:hover {
  background: linear-gradient(100deg, #A8FF80, #50c250);
  }

  /*firefox Scrllbar*/
  *{
    scrollbar-width: thin;
    scrollbar-color: #A8FF80 #0a0a0a;

  }
  /* Hide Scrollbar for Carousel */
  .hide-scrollbar {
    -os-overflow-style:none;
    scrollbar-width: none;
  }

  /* Animation keyframes */
  @keyframe fadeIn {
    from {
      opacity: 0;
    }

    to {
     opacity: 1;
    }

  }

  @keyframes fade {
  0%, 100% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.5;
  }
}
 /* Utility Classes */
 .animate-fadeIn {
  animation: fadeIn 0.5s ease-out;

 }
 .animate-pulse {
  animation: pulse 3s ease-in-out infinite;
 }
 @keyframe spin {
  from {
    transform: rotate(0deg);

  }
  to {
    transform: rotate(360deg);
  }
 }

 /* Line Clamp*/

 .line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
 }
}